.head{ background-color: gray;
}
.info{
    background-color: blue;
    text-align: center;
    color: wheat; 
}

img{
    width: 1000px;
    margin-left:
    margin-right: auto;
    border: 4px;
}

.mazda{
    background-color: red;
    color: white;
    text-align: center;
}